@import '~@angular/material/theming';

body {
  margin: 0;
  font-family: sans-serif;
}

.expanded-toolbar {
  justify-content: space-between;
}

mat-toolbar{
  button {
    font-family: "Ubuntu", sans-serif;;
  }
}

.mat-toolbar.mat-primary {
  background: #499dda;
  color: #fff;
}

mat-toolbar, mat-menu {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}
